.tabs::before {
    content: "";
    width: 445px;
    height: 25px;
    background-size: cover;
    background-image: url(https://i14.servimg.com/u/f14/19/36/48/02/sans_454.png);
}

.tabs {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    position: relative;
}

.input {
    position: absolute;
    opacity: 0;
}

.published {
    position: absolute;
    top: 1px;
    left: 186px;
}

.tagged {
    position: absolute;
    top: 1px;
    left: 249px;
}

.insta .label {
    cursor: pointer;
    font-weight: 700;
    font-family: Open Sans !important;
    font-size: .4rem;
    line-height: .5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999 !important;
    text-shadow: none;
    border-top: 1px solid transparent;
    transition: all 500ms ease;
    padding: 10px 0 0 15px;
}

.insta .label:hover {
    color: black;
}

.insta .label:active {
    border-top: 1px solid black;
}

.input:focus + .label {
    z-index: 1;
}

.input:checked + .label {
    color: black;
    border-top: 1px solid black;
}

.insta .panel {
    display: none;
    width: 480px;
}

.input:checked + .label + .panel {
    display: block;
}